In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import r2_score
import warnings
warnings.filterwarnings("ignore")

In [19]:
columns = ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']
# Load the dataset
types = {'InvoiceNo': str, 'StockCode': str, 'Description': str, 'Quantity': int, 'InvoiceDate': str, 'UnitPrice': float, 'CustomerID': float, 'Country': str}
data = pd.read_csv('Online_Retail.csv', dtype=types, usecols=columns)

## Data preprocessing

In [33]:
prep_data = data[~data['InvoiceNo'].str.startswith('C')] # remove cancelled orders

In [34]:
prep_data.dropna(inplace=True) # remove rows with missing values

prep_data.drop_duplicates(inplace=True) # remove duplicate rows

In [36]:
prep_data['TotalPrice'] = prep_data['Quantity'] * prep_data['UnitPrice'] # calculate total price
prep_data['InvoiceDate'] = pd.to_datetime(prep_data['InvoiceDate']) # convert InvoiceDate to datetime

### RFM prepration

In [37]:
RFM = prep_data.groupby(
    ['CustomerID']
).agg(
    {
        'InvoiceDate': lambda x: (prep_data['InvoiceDate'].max() - x.max()).days,
        'InvoiceNo': 'count',
        'TotalPrice': 'sum'
    }
)

In [38]:
RFM

            InvoiceDate  InvoiceNo  TotalPrice
CustomerID
12346.0             325          1    77183.60
12347.0               1        182     4310.00
12348.0              74         31     1797.24
12349.0              18         73     1757.55
12350.0             309         17      334.40
...                 ...        ...         ...
18280.0             277         10      180.60
18281.0             180          7       80.82
18282.0               7         12      178.05
18283.0               3        721     2045.53
18287.0              42         70     1837.28

[4339 rows x 3 columns]