In [ ]:
import pickle
import os
import sys
from src.sales_forcasting import SalesForecaster

In [33]:

import dill

with open("../Models/sales_forecaster.pkl", "rb") as f:
    model = dill.load(f)
# Example usage
future_forecast = model.forecast(future_steps=30)
print(future_forecast)

2025-12-07    18851.715124
2025-12-08    18896.574387
2025-12-09    18937.447987
2025-12-10    19342.173683
2025-12-11    21403.260422
2025-12-12    21531.061922
2025-12-13    21817.737446
2025-12-14    22715.172621
2025-12-15    23429.072401
2025-12-16    24171.574872
2025-12-17    24760.472518
2025-12-18    24992.596956
2025-12-19    24373.947985
2025-12-20    24355.420017
2025-12-21    24485.905762
2025-12-22    24743.921690
2025-12-23    24894.696454
2025-12-24    24395.915912
2025-12-25    23682.347080
2025-12-26    23389.161850
2025-12-27    23259.214393
2025-12-28    22848.581947
2025-12-29    22252.470512
2025-12-30    21725.361091
2025-12-31    21454.426639
2026-01-01    21504.200509
2026-01-02    21743.551110
2026-01-03    21876.117536
2026-01-04    21887.681568
2026-01-05    21757.233518
Freq: D, dtype: float64

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../Data/Online_Retail_Clustered.csv")
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,cluster
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2024-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,2024,12,1,8,0
1,536365,71053,WHITE METAL LANTERN,6,2024-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2024,12,1,8,0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2024-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,2024,12,1,8,0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2024-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2024,12,1,8,0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2024-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2024,12,1,8,0

In [10]:
#sales for each country
sales_by_country = df.groupby('Country')['TotalPrice'].sum().sort_values(ascending=False)

In [12]:
sales_by_country/df['TotalPrice'].sum() * 100

Country
United Kingdom          85.467516
Germany                  3.288441
France                   2.951313
EIRE                     2.394533
Spain                    0.716187
Switzerland              0.714276
Belgium                  0.688288
Portugal                 0.496059
Norway                   0.412101
Netherlands              0.332426
Italy                    0.285402
Australia                0.259370
Channel Islands          0.258067
Finland                  0.238517
Denmark                  0.189621
Cyprus                   0.173186
Austria                  0.146819
Sweden                   0.136887
Poland                   0.116709
Israel                   0.088241
Singapore                0.086418
Iceland                  0.082572
USA                      0.070409
Japan                    0.057081
Unspecified              0.051819
Greece                   0.050847
Canada                   0.049400
Malta                    0.036600
United Arab Emirates     0.032622
Lithuania                0.026800
European Community       0.022291
RSA                      0.018696
Lebanon                  0.017746
Brazil                   0.017567
Czech Republic           0.015136
Bahrain                  0.006321
Saudi Arabia             0.003715
Name: TotalPrice, dtype: float64